<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hey !</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500" href="/">Go Back</a>
        <h1 class="text-3xl tracking-tighter">file ka naam</h1>
        <p class="text-xl mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quis dolore molestiae.</p>
    </div>
</body>

</html>